.Card {
    margin-top: 2rem;
    justify-content: center;
    border-right: solid 4px #0f0f12;
    border-left: solid 2px #0f0f12;
    border-top: solid 2px #0f0f12;
    border-bottom: solid 4px #0f0f12;
}

.gallery-img {
    border-bottom: solid 3px #0d0d0f;
    border-left: solid 2px #0f0f12;
    border-right: solid 3px #0f0f12;
    border-top: solid 2px #0f0f12;
}

.gallery-container {
    margin-top: 2rem;
}


.synonyms {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.synonyms li {
    padding-right: 6px;
    font-size: 0.9rem;
    color: #e3325a;
}

.definition {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #383844;
}